<table>
  <thead>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% portfolio_finances.each do |portfolio_finance| %>
      <tr>
        <td><%= link_to portfolio_finance.title.present? ? portfolio_finance.title :
                        'Портфель ID ' + portfolio_finance.id.to_s, portfolio_finance  %></td>
        <td><%= link_to 'Edit', edit_portfolio_finance_path(portfolio_finance) %></td>
        <td><%= link_to 'Destroy', portfolio_finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>