<p id="notice"><%= notice %></p>

<h1>Listing Portfolio Finances</h1>

<%= render 'portfolio_finances/portfolio_finances', :portfolio_finances => @portfolio_finances %>

<br>

<%= link_to 'New Portfolio finance', new_portfolio_finance_path %>
